<div class="header">Header</div>
<div class="body">
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <p class="h2">Bài kiểm tra</p>
                    <ul>
                        <li>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/test/test-list" routerLinkActive="active" ariaCurrentWhenActive="page">Bài kiểm tra</a>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/test/section-list" routerLinkActive="active" ariaCurrentWhenActive="page">Phần kiểm tra</a>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/test/question-list" routerLinkActive="active" ariaCurrentWhenActive="page">Câu hỏi</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="h2">Sự kiện</p>
                    <ul>
                        <li>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/event/event-list" routerLinkActive="active" ariaCurrentWhenActive="page">Sự kiện</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="h2">Tài khoản</p>
                    <ul>
                        <li>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/user/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">Tài khoản</a>
                        </li>
                        <li>
                            <a mat-stroked-button class="btn btn-outline-dark" routerLink="/user/role-list" routerLinkActive="active" ariaCurrentWhenActive="page">Quyền</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>