.header {
    height: 32px;
    border-bottom: solid 1px #333;
}
.body {
    height: 100%;
    .menu {
        float: left;
        height: 100%;
        width: 280px;
        border-right: solid 1px #333;
        box-sizing: border-box;
    }
    .content {
        float: left;
        height: 100%;
        width: calc(100% - 280px);
        padding:  0px 20px 20px 20px;
        box-sizing: border-box;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}